
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
#wraper {
  background-color: white;

}

#container {
	display: grid;
	/* grid-template-columns: 1fr 4fr; */
  grid-template-columns: 1fr 5fr;
  margin-top: 10px;
  /* background-color: red; */
}


/* #sidebar {
  display: inline-grid;
  background-color: grey;
  widht: 50px;
} */

/* Style the header */
div.header {
	background-color: #f6f6f6;
  background-size: auto 90%;
  background-repeat: no-repeat;
  background-position: center 15px;
  height: 200px;

}
#header {
	background-color: #ccc;

  background-image: url('https://res.cloudinary.com/dp4hacqvs/image/upload/v1561442939/tropicalVilla_iyw5gl.jpg');
  /* background-position: bottom;
  /* display: block; */
  background-repeat: no-repeat;
  width: auto;
  heigt: 50px;
  /* to make background image only on the top of pa */
  background-size: 80% 80% 50% 90%;
  padding-top: 350px; /* heLp render the whole heigth*/
	padding-bottom: 100px;
	margin-bottom: 5px;
  text-align: center;
  font-size: 35px; */ */

}
 /* div.top_nav {
   float: left;
   margine-bottom: 10px;
   margin-top:500px;
  width: 30%;
  display: inline;
 } */

/* Create two columns/boxes that floats next to each other */
nav {
  display: inline;
  height:
  float: left;
  width: 30%;
  height: 100px;
  background: none;
  padding: 20px;
	position: relative;

}
/* Style the list inside the menu */
nav ul {
display: inline;
padding-bottom: 0;

}

nav ul  li {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  padding: 0;
}
nav ul  li  a{

	color: #f6f6f6;
	text-decoration: none;

}

.search_bar {
	width: auto;
	height: 100px;
	background-color: pink;
	border-color: black;
	border-size; 1px;

}
#properties {
	padding-top: 10px;
	margin-top: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}

.property {
  width: auto;
  heigth: 300;
  margin: 5px;
	background-color: none;
}


.property-image {
	background-color: #f6f6f6;
	background-size: auto 90% ;
	background-repeat: no-repeat;
	background-position: center 15px;
	height: 200px;
}

/* space holder for all description */
div.descriptionBox {
padding-left: 10px;
margin: 1px;
background-color: lightblue;
text-align: left;
width: 175px;
height: auto;
}

.description {
  height: auto;
	padding-left; 5px;
	margin-left: 5px; /*move the inner text */
}



/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
