body {
	margin: 0;
	padding: 30px;
	background: black;
	font-family: Helvetica, sans-serif;
}
#wrap {
	background-color: white;
	padding-bottom:  30px;
	padding-top: 10px;
	margin-top:10px;
	border-radius: 15px;
	box-shadow: 0 5px 20px rgba(0,0,0,.15);
	 min-height: 500px; 

}


.container {
	display: grid;
  grid-template-columns: 200px auto;
	background-color: red;
}


div.header {
	display: grid;
	background-color: lightpink;
	grid-template-columns: 1fr;
}

.header {
	display: grid;
	grid-template-columns: 1fr;
	background-size: auto 90%;
  color: blue;
	background-color: grey;
  font-size:  30px;
	width: auto 90%;
}



#sidebar {

}

h1 {
	font-size: 20px;
	margin-bottom: 50px;
}



#properties {
	display: grid;
	height: 250px;
	margin-top: 10px;
	margin-right: 200px;
	background-color: red;

	grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap:10px;
}

.property {
	display: grid;
	border-color: pink;
	grid-template-columns:  1fr 1fr 1fr 1fr;
	heigth: 300px;
}



.product-image {
	display: grid;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 10px;
	padding-left:20px;

	height: 200px;
	width:280px; */


}

div.gallery {
margin: 5px;
border: 1px solid #ccc;
float: left;
width: 300px;
}
div.gallery:hover {
border: 1px solid #777;
}

div.product-image {
	border: 1px solid #ccc;
	border: 5px;
	position: relative;

}

/* div.gallery img {
  width: 100%;
  height: auto;
  padding: 5px;
} */
* {
  box-sizing: border-box;
}
